<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post" enctype="multipart/form-data">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60"></textarea>
    </p>
    <p>
      Kuva:<br><input type="file" name="image" accept="image/jpeg" />
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>